body{
	width: 100%;
	font-family:kaigen-sans-j, sans-serif !important;
	background: white;
	outline: none !important;
	font-size: 9px !important;
}

@font-face{
    font-family:kaigen-sans-j;
    src:url('Fonts.KaigenSansJ-Medium.ttf') format("truetype");
    font-style:normal;
    font-weight:700;
    font-display:swap
}
@font-face{
    font-family:kaigen-sans-j;
    src:url('Fonts.KaigenSansJ-Bold.ttf') format("truetype");
    font-style:italic;
    font-weight:700;
    font-display:swap
}
@font-face{
    font-family:kaigen-sans-j;
    src:url('Fonts.KaigenSansJ-Light.ttf') format("truetype");
    font-style:italic;
    font-weight:400;
    font-display:swap
	}
@font-face{
    font-family:kaigen-sans-j;
    src:url('Fonts.KaigenSansJ-Normal.ttf') format("truetype");
    font-style:normal;
    font-weight:400;
    font-display:swap
	}
	
* { 
	font-family:kaigen-sans-j;
   }
	
	
	